/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

/* Apply a better box-sizing model to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Basic reset for margin and padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #1a202c; /* Dark blue/black background */
  color: #ffffff; /* Default text color */
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 85px; /* Increased padding for the taller navbar */
  font-weight: 400; /* Default font weight */
}
